<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153263760034-g0cakac37lpbc13eq7ijph23b1v574mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153263760034-g0cakac37lpbc13eq7ijph23b1v574mf</string>
	<key>API_KEY</key>
	<string>AIzaSyD570Ecnh0RMPjmO5paTll_p6Dx5JjQ5M4</string>
	<key>GCM_SENDER_ID</key>
	<string>153263760034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wwdc.BlackcofferApplication</string>
	<key>PROJECT_ID</key>
	<string>blackcofferapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcofferapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153263760034:ios:4e3961bd2cd9ac7a766dfb</string>
</dict>
</plist>